<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="testInput" class="wjc.bigdata.spark.data.platform.utils.TestReader"/>
    <bean name="testHandler" class="wjc.bigdata.spark.data.platform.utils.TestHandler"/>
    <bean name="testOutput" class="wjc.bigdata.spark.data.platform.utils.TestWriter"/>

    <bean name="testString" class="java.lang.String">
        <constructor-arg index="0" value="${abc}"/>
    </bean>
</beans>